{% extends "base.html" %}

{% block titulo_conteudo %} Formulário de Produtos {% endblock titulo_conteudo %}

{% block conteudo %} 
<form method="post">
    {% csrf_token %}    
    
    <div class="mb-3">
        {{ form.nome.label_tag }}
        {{ form.nome }}
    </div>

    <div class="mb-3">
        {{ form.preco.label_tag }}
        {{ form.preco }}
    </div>

    <div class="mb-3">
        <label for="id_categoria_desc">Categoria:</label>
        <input type="text" 
               id="id_categoria_desc" 
               class="autocomplete form-control" 
               data-url="{% url 'buscar_dados' 'home.categoria' %}" 
               data-hidden="#id_categoria" 
               value="{{ form.instance.categoria.nome|default_if_none:'' }}">
        
        {{ form.categoria }}
    </div>

    <fieldset class="fieldset border p-3 mb-3">
        <legend class="w-auto px-2">Imagem</legend>
        
        <input type="hidden" 
            id="img_base64"  
            class="img_init" 
            data-canvas="imageCanvas" 
            value="{{ form.instance.img_base64|default_if_none:'' }}" 
            name="img_base64">

        <input type="file" id="imagem" 
            name="imagem" 
            data-hidden="img_base64" 
            class="img_upload form-control" 
            accept="image/*"><br>

        <div class="text-center">
            <canvas class="canvas border" id="imageCanvas" width="200" height="200"></canvas>
        </div>
    </fieldset>

    <div class="mt-3">
        <button class="btn btn-primary" type="submit">
            <i class="fas fa-save"></i> Salvar Produto
        </button>
        <a href="{% url 'produto' %}" class="btn btn-secondary">Cancelar</a>
    </div>

</form>
{% endblock conteudo %}

{% block javascript %}
<script>
    $(document).ready(function() {
        // Inicializa o Autocomplete nos campos com a classe .autocomplete
        $('.autocomplete').each(function() {
            autoComplete(this); 
        });

        // Configura inicialização das imagens base64
        $('.img_init').each(function() {
            const initialImageBase64 = $(this).val();
            const target_canvas = $(this).data('canvas');
            if (initialImageBase64) {
                loadImage(initialImageBase64, target_canvas);
            }
        });
        
        // Evento para upload de imagem
        $('.img_upload').on('change', function(event) {
            const imagemInput = this.files[0];
            var hidden = $(this).data('hidden');
            if (imagemInput) {
                const reader = new FileReader();
                reader.readAsDataURL(imagemInput);
                reader.onload = function() {
                    const imgBase64 = reader.result;
                    $('#' + hidden).val(imgBase64);
                    var canvasTarget = $('#' + hidden).data('canvas');
                    loadImage(imgBase64, canvasTarget);
                };
            }
        });
    });
</script>
{% endblock javascript %}