<ul class="nav flex-column">
    <li class="nav-item">
        <a href="{% url 'index' %}" class="nav-link"><i class="fas fa-home"></i> <span>Home</span></a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link"><i class="fas fa-chart-bar"></i> <span>Cadastro</span></a>
        <ul class="submenu nav flex-column">
            <li class="nav-item">
                <a href="{% url 'categoria' %}" class="nav-link">Categorias</a>
            </li>
            
            <li class="nav-item">
                <a href="{% url 'produto' %}" class="nav-link">Produtos</a>
            </li>
            
            <li class="nav-item">
                <a href="{% url 'cliente' %}" class="nav-link">Clientes</a>
            </li>
            
            <li class="nav-item">
                <a href="{% url 'pedido' %}" class="nav-link">Pedidos</a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link"><i class="fas fa-cogs"></i> <span>Settings</span></a>
        <ul class="submenu nav flex-column">
            <li class="nav-item">
                <a href="#" class="nav-link">General</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Security</a>
            </li>
        </ul>
    </li>
</ul>

<ul class="nav flex-column">
    <li class="nav-item mt-3">
        <hr class="text-white-50"> <form method="post" action="{% url 'logout' %}" style="display:inline; padding-left: 20px;">
            {% csrf_token %}
            <button type="submit" class="nav-link btn btn-link text-white p-0" title="Sair">
                <i class="fas fa-sign-out-alt"></i> Sair do Sistema
            </button>
        </form>
    </li>
</ul>